:root {
    --main-font: Lato;
    --secondary-color: #3C6F1F;
	--icon-frame-color: #80b940;
	--icon-body-color: #b3d789;
	--hover-color: #1b4403;
    --link-color:#3C6F1F;
	--footer-link-color: #efefef;
    --line-color: rgba(0, 128, 0, 0.298);
    --main-text-color: #000000;
}

body {
    margin-top: 250px;
    margin-bottom: 250px;
    background-image: url("academis_header.png");
    background-repeat: no-repeat;
}
